* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
  background-image: url(..//assets/images/background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
} 

.title {
  margin-bottom: 40px;
  color: #303030;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #929292, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}

.post {
  font-size: 40px;
  display: grid;
  grid-gap: 10px;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 700px;
}

.usernameInput {
  font-size: 18px;
  border: none;
  width: 280px;
  height: 48px;
}

.usernameInput:hover {
  background-color: rgb(198, 221, 226);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.passInput {
  font-size: 18px;
  border: none;
  width: 280px;
  height: 48px;
}

.passInput:hover {
  background-color: rgb(198, 221, 226);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.check {
  transform:scale(1.3);
  margin-left: -264px;
  margin-bottom: -6px;
  cursor: pointer;
}

.remember-me {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: -18px 0px 0px -140px;
}

.forgotButton {
  height: 24px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: -30px 0px 0px 218px;
  cursor: pointer;
}

.forgotButton:hover {
  color: rgb(50, 110, 153);
  transition: color 0.2s linear;
  cursor: pointer;
  text-shadow: 2px 4px 4px;
}

.lowerButtons {
  font-weight: 700;
  font-size: 24px;
  width: 280px;
  height: 48px;
  cursor: pointer;
}

.lowerButtons:hover {
  color: rgb(50, 110, 153);
  transition: color 0.2s linear;
  cursor: pointer;
  text-shadow: 6px 6px 6px;
}
