$mainFontSize: 22px;
$mainFontFamily: 'Courgette', cursive;

@mixin buttonsOnHover {
  color: rgb(164, 219, 255);
  transition: color 0.1s linear;
  cursor: pointer;
}

.header {
  padding-left: 16px;
  padding-right: 14px;
  width: 1600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.main-title {
  font-family: $mainFontFamily;
  font-size: 32px;
  text-shadow: 4px 2px 4px rgb(109, 107, 107);
}

.log-out-button {
  width: 256px;
  height: 32px;
  font-family: $mainFontFamily;
  font-size: $mainFontSize;
  cursor: pointer;
}

.container {
  font-size: $mainFontSize;
  width: 1600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 16px 16px 16px;
  box-shadow: inset 0 0 1000px rgb(224, 223, 223);
}

.search-block {
  padding-right: 14px;
  font-size: $mainFontSize;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  font-size: $mainFontSize;
  font-family: $mainFontFamily;
  height: 32px;
  width: 50%;
}

.header-button {
  font-family: $mainFontFamily;
  font-size: $mainFontSize;
  width: 352px;
  height: 32px;
  margin-left: 12px;
}

.deleteButton {
  font-family: $mainFontFamily;
  font-size: $mainFontSize;
  width: 100%;
  height: 32px;
  cursor: pointer;
}

.header-button:hover {
  @include buttonsOnHover
}

.deleteButton:hover {
  @include buttonsOnHover
}

.log-out-button:hover {
  @include buttonsOnHover
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
